<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Miyabi</title>

	<link rel="stylesheet" th:href="@{/css/base/global.css}">
	<link rel="stylesheet" th:href="@{/css/index/hero.css}">
	<link rel="stylesheet" th:href="@{/css/index/intro.css}">
	<link rel="stylesheet" th:href="@{/css/index/features.css}">
</head>

<body>

	<div th:replace="~{fragments/layout/components :: navbar}"></div>

	<div th:replace="~{fragments/index/hero :: hero}"></div>
	<div th:replace="~{fragments/index/intro :: intro}"></div>
	<div th:replace="~{fragments/index/features :: features}"></div>

	<div th:replace="~{fragments/layout/components :: footer}"></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
	<script th:src="@{/js/base/global.js}"></script>
	<script th:src="@{/js/index/index.js}"></script>

</body>

</html>